.container {
  max-width: 1180px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  .error {
    margin: 0 auto;

    h2 {
      text-align: center;
    }
  }

  .loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .pagination {
    padding: 15px;
    display: flex;
    justify-content: center;
  }
}